<div class="login-component">
    <img src="assets/images/ai-generated-7516265_1280.jpg" alt="Background image" class="background">
    <main>

    </main>
    <!--
    <form [formGroup]="loginForm">
        <label for="username">Nom d'utilisateur</label>
        <input id="username" type="text" formControlName="username" placeholder="JohnDoe123">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password" placeholder="********">
    </form>-->
</div>