.login-component {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;

    .background {
      position: fixed;

      width: 200%;
      height: 200%;

      filter: blur(54px);

      z-index: -1;
    }

    main {
      position: relative;

      display: flex;

      max-height: 600px;
      height: 100%;
      max-width: 1000px;
      width: 100%;

      padding: 10px;
      column-gap: 8px;

      .pseudo-background{
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;

        border-radius: 25px;

        background-color: var(--secondary-200);
        opacity: .5;

        box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.25);
        z-index: -1;
      }

      .left-container {
        flex: 1;
        border-radius: 16px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }

      .right-container {
        flex: 1;

        display: flex;
        flex-direction: column;

        padding-inline: 32px;
        padding-block: 16px;

        row-gap: 32px;

        form {
          display: flex;
          flex-direction: column;

          margin-inline: 32px;
          row-gap: 32px;

          .form-field {
            display: flex;
            flex-direction: column;

            width: 100%;
            
            row-gap: 10px;

            input[type="text"],
            input[type="password"] {
              padding-inline: 16px;
              padding-block: 12px;

              border: none;
              border-radius: 4px;

              background-color: rgba(0, 0, 0, 0.1);

              font-size: 16px;
              color: var(--text);

              &:focus{
                outline: 1px solid;
                outline-color: var(--primary);
              }
            }

            &.remember-me-class {
              flex-direction: row;
              column-gap: .5rem;

              label {
                width: 100%;
              }

              &:hover {
                cursor: pointer;
              }

              & :hover {
                cursor: pointer;
              }
            }

            label:hover {
              cursor: text;
            }
          }

          button {
            display: flex;
            justify-content: center;

            padding-block: 16px;

            border: none;
            border-radius: 8px;
            
            background-color: var(--secondary);
            color: var(--text);

            &:hover {
              filter: brightness(0.9);
              cursor: pointer;
            }

          }
          
          .invalid-credentials {
            color: var(--accent);
            text-align: center;
          }
        }
      }
    }
}