/*

Custom font sizes for the login page

https://www.realtimecolors.com/?colors=fae5f0-1f0513-ea8bbd-8e2f1a-dd8f46&fonts=Inter-Inter

*/

.login-component {
  font-family: 'Abyssinica SIL';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lavishly Yours';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

.login-component {
    position: relative;
    display: flex;
    width: 100dvw;
    height: calc(100dvh - 340px);
    justify-content: center;
    align-items: center;

    padding-block: 170px;

    .background {
        width: 110vw;
        height: 110vh;
        position: fixed;
        top: -50px;
        z-index: -1;
        filter: blur(100px);
    }

    main {
        background-color: var(--primary-100);
        height: 100%;
        width: 100%;
        max-width: 1400px;
    }
}